<footer>
    <a href="#" id="link-top" title="Inapoi sus">
        <div id="sageata">&#129081;</div>
     </a>
     <p id="banner">Acesta este un proiect școlar!</p>
     
    <address>
        <a href="mailto:dariajane@gmail.com" target="_blank">Trimite un mail</a><br>
        <a href="tel:+0745928951" target="_blank">Trimite un mesaj</a><br>
        <a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355355,26.097398,17z/data=!3m1!4b1!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh" target="_blank">Caută-ne!</a><br>
        <a href="https://wa.link/pwn7n8" target="_blank">Contactează-ne pe Whatsapp!</a><br>
        <a href="./resurse/imagini/teapa.jpg" download="./resurse/imagini/teapa.jpg" target="_blank">Descarcă mostră gratis!</a>
    </address>
    <small>Copyright &copy; <time datetime="2023-03-01">1 martie 2023</time></small>
</footer>