<nav>
    <label id="hamburger" for="checkbox-meniu">
        <img src="./resurse/imagini/hamburger-menu.png" alt="menu">
    </label>
    <input id="checkbox-meniu" type="checkbox">
    <ul class="meniu">
        <div id="ac"></div>
        <li><a href="dieda-home.html"><div>ACASA <i class="fa-solid fa-house"></i></div></a>
        <ul class="submenu">
            <li><a href="#reduceri">Reduceri</a></li>
            <li><a href="#oferte">Oferta saptamanii</a></li>
            <li><a href="#aparitii">Aparitii noi</a></li>
        </ul></li>
        <li><a href="#produse">Produse <i class="fa-solid fa-book"></i></a>
        <ul class="submenu">
            <li><a href="#carti">Carti</a></li>
            <li><a href="#albume">Albume</a></li>
            <li><a href="#boardgames">Jocuri de societate</a></li>
            <li><a href="#merch">Merchandise</a></li>
            <li><a href="#scolar">Scolare</a></li>
        </ul>
        </li>
        <li><a href="#cos">Cosul de cumpărături <i class="fa-solid fa-cart-shopping"></i></a></li>
        <li><a href="#cont">Contul meu <i class="fa-solid fa-user"></i></a></li>
        <li><a href="#FAQ">Intrebari frecvente <i class="fa-solid fa-question"></i></a></li>
    </ul>
</nav>