<nav>
    <label id="hamburger" for="checkbox-meniu">
        <img src="/resurse/imagini/hamburger.png" alt="menu">
    </label>
    <input id="checkbox-meniu" type="checkbox">
    <ul class="meniu">
        <div id="ac"></div>
        <li><div id="ac">ACASA <i class="fa-solid fa-house"></i></div><div id="ac-mediu"><i class="fa-solid fa-house"></i></div></a>
        <ul class="submenu">
            <li><a href="#reduceri"><i id="arrow" class="fa-solid fa-arrow-right"></i> Reduceri</a></li>
            <li><a href="#oferte"><i id="arrow" class="fa-solid fa-arrow-right"></i> Oferta saptamanii</a></li>
            <li><a href="#aparitii"><i id="arrow" class="fa-solid fa-arrow-right"></i> Aparitii noi</a></li>
            <li><a href="/despre"><i id="arrow" class="fa-solid fa-arrow-right"></i> Despre</a></li>
        </ul></li>
        <li><a href="/produse">Produse <i class="fa-solid fa-book"></i></a>
        <ul class="submenu">
            <li><a href="/produse?tip=carte"><i id="arrow" class="fa-solid fa-arrow-right"></i> Carti</a></li>
             <li><a href="/produse?tip=album"><i id="arrow" class="fa-solid fa-arrow-right"></i> Albume</a></li>
            <li><a href="/produse?tip=boardgame"><i id="arrow" class="fa-solid fa-arrow-right"></i> Jocuri de societate</a></li>
            <li><a href="/produse?merch"><i id="arrow" class="fa-solid fa-arrow-right"></i> Merchandise</a></li>
            <li><a href="/produse?scolar"><i id="arrow" class="fa-solid fa-arrow-right"></i> Scolare</a></li>
        </ul>
        </li>
        <li><a href="#">Cosul de cumpărături <i class="fa-solid fa-cart-shopping"></i></a></li>
        <li><a href="#">Contul meu <i class="fa-solid fa-user"></i></a></li>
        <li><a href="#FAQ">Intrebari frecvente <i class="fa-solid fa-question"></i></a></li>
    </ul>
</nav>